article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



/*GENERAL STYLE STARTS GENERAL STYLE STARTS*/
body {
	background: white;
	font-family: 'Prata', serif;
	font-size: 12px;
}

ul {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
}

h1, h2, h3, h4, h5, p {
	margin: 0;
}

button, input, textarea {
	outline: none;
}

button, .socialIcons .fa {
	background: #ffbf1f;
	border: none;
	font-weight: bold;
	transition: all 0.2s;
}

button:hover, .socialIcons .fa:hover {
	transform: scale(0.97);
	color: white;
}

.fa-shopping-cart {
	margin: 5px;
}
/*GENERAL STYLE ENDS GENERAL STYLE ENDS*/




/*HOME PAGE STYLE STARTS HOME PAGE STYLE STARTS*/
.home {
	background: linear-gradient(rgba(0,0,0,0.3) 100%, transparent 0%), url(../../public/assets/headerBackground.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo {
	font-size: 7rem;
	font-weight: lighter;
	color: goldenrod;
	line-height: 3.5rem;
	text-align: center;
	position: relative;
}
.garden {
	margin-top: 50px;
}

.logo span {
	font-size: 2.5rem;
}

.cornerTriangleContainer {
	display: block;
	width: 100px;
	height: 100px;
	border-style: solid;
	border-width: 0 250px 250px 0;
	border-color: transparent #ffbf1f transparent transparent;
	position: absolute;
	top: 0;
	right: 0;
}

.cornerTriangle {
	position: relative;
	top: 40px;
	right: -105px;
}

.home .cornerTriangle__shopButton {
	padding: 10px 5px;
	font-size: 2rem;
}

.fa-leaf {
	font-size: 1.8rem;
	display: inline;
	margin-left: 8px;
}

.socialIcons {
	position: absolute;
	bottom: 30px;
	left: 70px;
	z-index: 9;
}

.socialIcons .fa {
	color: black;
	border-radius: 50%;
	font-size: 1.5rem;
	width: 48px;
	height: 48px;
	padding: 12px 14px;
	margin: 20px;
}

.socialIcons .fa-facebook {
	padding: 12px 17px;
}
/*HOME PAGE STYLE ENDS HOME PAGE STYLE ENDS*/









/*MENU PAGE STYLE STARTS MENU PAGE STYLE STARTS */

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
}

nav {
	font-size: 1.2rem;
	position: fixed;
	top: 20px;
	right: 100px;
	z-index: 9;
}

nav a {
	margin: 15px;
	padding: 10px;
	color: black;
	text-decoration: none;
	transition: all 0.2s;
}
nav a:hover {
	color: #ffbf1f;
}


.menuHeader .logo {
	padding: 25px 0 40px 0;
	background: linear-gradient(rgba(255,255,255,0.30) 100%, transparent 0%), url(../../public/assets/menuBackground.jpg) fixed;
	background-position: 40% 120%;
	color: black;
}

.menuHeader .socialIcons {
	position: fixed;
	bottom: 50px;
	left: 15px;
	display: flex;
	flex-direction: column;
}

.menuHeader .socialIcons .fa {
	margin: 10px;
}

.menuHeader .socialIcons .fa:hover {
	color: white;
}

.menuHeader .socialIcons .fa-facebook {
	padding: 12px 17px;
}

h2.tagline {
	text-align: center;
	margin: 170px 0 30px 0;
	font-size: 2.5rem;
}

h2.tagline i {
	margin: 15px;
	font-size: 1.3rem;
}

h2.tagline .fa-flip-horizontal {
	transform: scaleX(-1);
	display: inline-block;
}

.menu-plant__container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.menu-plant {
	background: #fff;
	width: 370px;
	margin: 25px;
	list-style: none;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 2px 12px rgba(0,0,0,0.23);
	padding: 15px 40px 40px 40px;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-plant__img {
	padding: 40px;
}

.priceAndCart {
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.priceAndCart button {
	padding: 6px 11px;
	border-radius: 5px;
}

.plantName {
	font-size: 1.5rem;
	text-align: center;
}

.plantInfo p {
	font-size: 0.9rem;
	font-family: sans-serif;
	font-weight: lighter;
	margin: 15px 0 40px 0;
}

h5 {
	font-size: 1.2rem;
}

@media (min-width: 1640px) {
	nav {
		right: 250px;
	}
}

@media (max-width: 1140px) {
	nav {
		right: 0;
	}
}

@media (max-width: 650px) {
	h2.tagline {
		margin-top: 70px;
		margin-bottom: 0;
	}
	.menuHeader .socialIcons {
		flex-direction: row;
	}
	.menu-plant {
		padding: 20px;
		flex-direction: row;
	}
	.plantInfo p {
		display: none;
	}
	.menu-plant__img {
		padding: 0;
		width: 50%;
	}
	.plantName, .priceAndCart h5, .priceAndCart button {
		position: absolute;
		right: 20px;
	}
	.plantName {
		top: 25px;
		font-size: 1.4rem;
	}
	.priceAndCart h5 {
		top: 60px;
		font-size: 1rem;
	}
	.priceAndCart button {
		bottom: 25px;
	}
}
@media (max-width: 420px) {
	.menu-plant__img {
		padding: 0;
		width: 40%;
	}
}



/*MENU PAGE STYLE ENDS MENU PAGE STYLE ENDS */







footer {
	text-align: center;
	font-size: 1rem;
	padding: 80px 0 30px 0;
}